{% set use_icon = icon is defined and image is not defined ? icon : image is not defined %}
{% set icon = icon is defined and image is not defined ? icon : 'fa fa-link' %}
{% set title = title is defined ? title : '' %}
{% set target = target is defined ? 'target="'~target~'"' : '' %}

<a title="{{ title }}" href="{{ link }}" {{ target }}>{% spaceless %}
        {% if image is defined %}
            <div class="media-box">
                {% include 'applications/blocks/image_small.html.twig' with {source: image, alt: title} %}
                {% if cell.title %}
                    <span class="media-title">{{ cell.title }}</span>
                {% endif %}
            </div>
        {% elseif text is defined %}
            {{ text }}
        {% else %}
            link
        {% endif %}
    {% endspaceless %}</a>

{% if use_icon %}
    <sup><i class="{{ icon }} fa-xs"></i></sup>
{% endif %}