{% extends 'main/dashboard.html.twig' %}
{% trans_default_domain application.translation_domain %}

{% block title %}
    {{ parent() }} - {{ application.meta.title|trans }}
{% endblock %}


{% block dashboard_title %}
    {{ application.meta.title|trans }}
{% endblock %}

{% block dashboard_links %}
    {% if application.category.categoryId != '_default' %}
        {% include "components/route_button.html.twig" with {route: application.categoryRoute, color:"light", icon: "arrow-left", label: application.category.label} %}
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if not application.frontend.uniqueConstraint %}
            <a class="btn btn-primary" href="{{ url('admin_edit', {app: application.appId, category: application.categoryId}) }}">
                <i class="fa fa-plus"></i>
                {{ ('action.entity.create.verbose')|trans({verbose: ('entity.verbose')|trans}) }}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if application.data %}
        <div class="table table-responsive">
            <table class="table table-striped dashboard responsive">
                <thead>
                <tr>
                    {% for cell in application.data|first %}
                        {% if cell.visible and cell.field %}
                            <th class="{{ cell.field.type }} {{ cell.field.module.class }}">{{ cell.field.labels.default|trans }}</th>
                        {% endif %}
                    {% endfor %}

                    {# Edit column #}
                    <th class="all"></th>
                </tr>
                </thead>
                <tbody>
                {% for row in application.data %}
                    <tr {% if row.detail is defined %}data-detail-url="{{ route(row.detail.link) }}"{% endif %}>
                        {% for cell in row %}
                            {% if cell.visible %}
                                <td class="{{ cell.field.type }}">{% include 'applications/blocks/cell.html.twig' with {cell: cell} %}</td>
                            {% endif %}
                        {% endfor %}

                        {# TODO application links #}

                        {# edit buttons #}
                        <td>
                            {% if row.detail is defined or is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="btn-group">
                                    {% if row.detail is defined %}
                                        {% include "components/route_button.html.twig" with {route: row.detail.link, color:"info btn-sm", icon: "info", title: 'label.details'|trans } %}
{#                                        <a class="btn btn-primary btn-sm"#}
{#                                           href="{{ url(row.detail.link.getName(), row.detail.link.getParams()) }}"#}
{#                                           title="{{  | trans }}">#}
{#                                            <i class="fa fa-info"></i>#}
{#                                        </a>#}
                                    {% endif %}

                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        {% set recordID = row.pk.value %}
                                        {% set recordActive = row._active.value %}

                                        {% include "components/button.html.twig" with {url: url('admin_edit', {category: application.categoryId, app: application.appId, uuid: recordID, action: 'edit'}), color:"light btn-sm", icon: "edit", title: 'label.edit'|trans } %}


                                        <a class="btn btn-danger btn-sm"
                                           href="javascript:;" title="{{ 'label.delete'|trans }}"
                                           onclick="if (confirm('{{ ('dialog.delete_warning')|trans }}')) { window.location.href = '{{ url('admin_edit', {category: application.categoryId, app: application.appId, uuid: recordID, action: 'delete'}) }}'; }">
                                            <i class="fa fa-trash-alt"></i>
                                        </a>

                                        {% include 'components/admin/active_button.html.twig' %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% block placeholder %}
            <b>{{ ('text.dashboard.empty.verbose')|trans({verbose: ('entity.verbose_plural')|trans|lower }) }}</b>
        {% endblock %}
    {% endif %}
{% endblock %}