{% extends 'main/dashboard.html.twig' %}
{% trans_default_domain application.translation_domain %}

{% set exposedField = application.meta.exposes %}

{% block title %}
    {{ parent() }} -
    {% if exposedField is iterable %}
        {% for field in exposedField %}
            {% include 'applications/blocks/title.html.twig' with {value: application.data[field].value, type: application.data[field].field.type} %}
        {% endfor %}
    {% else %}
        {% include 'applications/blocks/title.html.twig' with {value: application.data[exposedField].value, type: application.data[exposedField].field.type} %}
    {% endif %}
    &laquo; {{ application.meta.title|trans }}
{% endblock %}

{% block dashboard_title %}
    {{ application.meta.title|trans }}
    <small class="text-muted">
        {% if exposedField is iterable %}
            {% for field in exposedField %}
                {% include 'applications/blocks/cell.html.twig' with {cell: application.data[field]} %}
            {% endfor %}
        {% else %}
            {% include 'applications/blocks/cell.html.twig' with {cell: application.data[exposedField]} %}
        {% endif %}
    </small>
{% endblock %}


{% block dashboard_links %}
    <a class="btn btn-light" href="{{ url(application.route.getName(), application.route.getParams()) }}"><i class="fa fa-arrow-left"></i> {{ 'label.overview'|trans }}</a>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="btn btn-primary" href="{{ url('admin_edit', {app: application.appId, category: application.categoryId, uuid: application.data.pk.value, action: 'edit'}) }}">
            <i class="fa fa-edit"></i> {{ 'label.edit'|trans }}
        </a>

        <a class="btn btn-outline-dark" href="{{ url('admin_edit', {app: application.appId, category: application.categoryId}) }}" title="{{ ('action.entity.create.verbose')|trans({verbose: ('entity.verbose')|trans}) }}">
            <i class="fa fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {# TODO move to base #}
    {% block links %}
            <div class="row">
                <div class="col-sm-12 col-md-6 float-right">

                </div>
            </div>
    {% endblock %}

    {% if application.data %}
        <table class="table">
            {% for column in application.data %}
                {% if column.visible %}
                    <tr>
                        <td class="font-weight-bold">{{ column.field.labels.default|trans }}</td>
                        <td class="{{ column.field.type }}">{% include 'applications/blocks/cell.html.twig' with {cell: column} %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}