{% extends 'main/dashboard.html.twig' %}
{% trans_default_domain application.translation_domain %}

{% set exposedField = application.meta.exposes %}
{% set recordID = application.data.pk.value %}
{% set recordActive = application.data._active.value %}

{% block title %}
    {{ parent() }} -
    {% if exposedField is iterable %}
        {% for field in exposedField %}
            {% include 'applications/blocks/title.html.twig' with {value: application.data[field].value, type: application.data[field].field.type} %}
        {% endfor %}
    {% else %}
        {% include 'applications/blocks/title.html.twig' with {value: application.data[exposedField].value, type: application.data[exposedField].field.type} %}
    {% endif %}
    &laquo; {{ application.meta.title|trans }}
{% endblock %}

{% block dashboard_title %}
    {{ application.meta.title|trans }}
    <small class="text-muted">
        {% if exposedField is iterable %}
            {% for field in exposedField %}
                {% include 'applications/blocks/cell.html.twig' with {cell: application.data[field]} %}
            {% endfor %}
        {% else %}
            {% include 'applications/blocks/cell.html.twig' with {cell: application.data[exposedField]} %}
        {% endif %}
    </small>
{% endblock %}


{% block dashboard_prev %}
    {% include "components/route_button.html.twig" with {route: application.route, color:"light", icon: "arrow-left", label: 'label.overview', label_class: 'd-none d-md-inline' } %}
{% endblock %}

{% block dashboard_links %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="btn btn-primary" href="{{ url('admin_edit', {app: application.appId, category: application.categoryId, uuid: application.data.pk.value, action: 'edit'}) }}">
            <i class="fa fa-edit"></i> {{ 'label.edit'|trans }}
        </a>

        {% include 'components/admin/active_button.html.twig' with { color: 'link d-md-none',  use_label: true, label_class: 'd-md-none' } %}

        {% if not recordActive %}
            <a class="btn btn-danger d-md-none"
               href="javascript:;"
               onclick="if (confirm('{{ ('dialog.delete_warning')|trans }}')) { window.location.href = '{{ url('admin_edit', {category: application.categoryId, app: application.appId, uuid: recordID, action: 'delete'}) }}'; }">
                <i class="fa fa-trash-alt"></i>
                {{ 'label.delete'|trans }}
            </a>
        {% endif %}

        <hr class="d-md-none">

        {% include "components/button.html.twig" with {url: url('admin_edit', {app: application.appId, category: application.categoryId}), color:"outline-dark", icon: "plus", title: 'action.entity.create.verbose'|trans({verbose: ('entity.verbose')|trans}), label: ('action.entity.create.verbose')|trans({verbose: ('entity.verbose')|trans}), label_class: 'd-md-none' } %}

    {% endif %}
{% endblock %}

{% block content %}
    {# TODO  #}
    {#    {% block links %} #}
    {#            <div class="row"> #}
    {#                <div class="col-sm-12 col-md-6 float-right"> #}

    {#                </div> #}
    {#            </div> #}
    {#    {% endblock %} #}

    {% if application.data %}
        <table class="table">
            {% set first_visible = true %}
            {% for column in application.data %}
                {% if column.visible %}
                    <tr>
                        {% if column.field.type == 'image' and first_visible %}
                            <td colspan="2">{% include 'applications/blocks/cell.html.twig' with {cell: column} %}</td>
                        {% else %}
                            <td class="font-weight-bold">{{ column.field.labels.default|trans }}</td>
                            <td class="{{ column.field.type }}">{% include 'applications/blocks/cell.html.twig' with {cell: column} %}</td>
                        {% endif %}
                    </tr>
                    {% set first_visible = false %}
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block content_footer %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="d-none d-md-block bg-warning-subtle p-4 mt-4">
            <div class="d-flex justify-content-between">
                <h5 class="text-warning">Administrative area</h5>

                <div class="btn-group">
                    {% include 'components/admin/active_button.html.twig' with { use_label: true, color: 'outline-dark' } %}
                    {% if not recordActive %}
                        <a class="btn btn-danger"
                           href="javascript:;"
                           onclick="if (confirm('{{ ('dialog.delete_warning')|trans }}')) { window.location.href = '{{ url('admin_edit', {category: application.categoryId, app: application.appId, uuid: recordID, action: 'delete'}) }}'; }">
                            <i class="fa fa-trash-alt"></i>
                            {{ 'label.delete'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}