{% set wrap = wrap ?? false %}
{% set class = class ?? '' %}
{% set active_app = active_app ?? '' %}

{% for appId, application in applications %}
    {% if wrap %}
        <{{ wrap }}>
    {% endif %}
    <span class="d-flex justify-content-between">

        <a class="{{ class }} app app-{{ application.appId }} {{ active_app == appId ? 'active' : '' }}" href="{{ url(application.route.getName(), application.route.getParams()) }}">
            {{ application.config.meta.title|trans([], application.translation_domain) }}
        </a>

        {# show "add item" link #}
        {% include '/navigation/app_quicklinks.html.twig' with {class: class ~ ' app app-'~ appId} %}

    </span>
    {% if wrap %}
        </{{ wrap }}>
    {% endif %}
{% endfor %}