{% set themes = {
    'light': 'bi bi-sun-fill',
    'dark': 'bi bi-moon-stars-fill',
    'auto': 'bi bi-circle-half',
} %}

<li class="nav-item dropdown">
    <button class="btn btn-link nav-link px-0 px-lg-2 py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown"
            data-bs-display="static" aria-label="Toggle theme ({{ unchained.theme }})">
        <span class="theme-icon-active">
            <i class="{{ themes[unchained.theme] }}"></i>
        </span>
        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span></button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
        {% for theme, icon in themes %}
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center {{ unchained.theme == theme ? 'active ' : '' }}" data-bs-theme-value="{{ theme }}" aria-pressed="false">
                    <i class="{{ icon }} me-2" data-icon="{{ icon }}"></i>
                    {{ theme | capitalize }}
                    <i class="bi bi-check2 ms-2 d-none"></i>
                </button>
            </li>
        {% endfor %}
    </ul>
</li>