{% set appId = appId is defined ? appId : application.appId %}
{% set title = title is defined ? title : application.config.meta.title %}
{% set domain = application is defined ? application.translation_domain  : 'messages' %}
{% set class = class ?? "col" %}
{% set with_image = with_image ?? false %}
{% set links = links is defined ? links : [] %}

<div class="app-block {{ class }} app-{{ appId }}">
    <a class="app app-{{ appId }}" href="{{ route(application.route) }}">
        {% if with_image %}
            <img src="/assets/images/design/{{ appId }}.jpg">
        {% endif %}

        {# style this however you like #}
        <div class="decorator"></div>
        <span class="title">{{ title|trans([], domain) }}</span>
        {% if unchained.dashboard.show_count and application.entry_count > 0 %}
            <span class="count">{{ application.entry_count }}</span>
        {% endif %}
    </a>

    {% if links and links is iterable %}
        <div class="app-links">
            <ul>
                {% for link in links %}
                    <li>
                        <a href="{{ url(link.route, {app: link.application}|merge(link.params)) }}">{{ link.label|trans([], domain) }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
