{% if category is defined %}
    {% set catId = catId is defined ? catId : category.catId %}
    {% set title = title is defined ? title : category.label %}
    {% set path = path is defined ? path : category.route %}
{% endif %}
{% set class = class is defined ? class : "col-6" %}
{% set links = links is defined ? links : [] %}
{% set include_apps = include_apps is defined ? include_apps : false %}

<div class="cat-block {{ class }} cat-{{ catId }}">
    {% if catId != '_default' and path %}
        <a class="cat cat-{{ catId }}" href="{{ url('dash_app', {app: path}) }}">
            {# style this however you like #}
            <div class="decorator"></div>
            <span class="title">{{ title|trans([], ('category.'~catId)) }}</span>
        </a>
    {% endif %}

    {% if include_apps %}
        <div class="apps row">
            {% for appId,application in category.applications %}
                {% include 'main/blocks/link_application.html.twig' with {application: application, class: 'col-6', title: application.config.meta.title, path: application.route} %}
            {% endfor %}
        </div>
    {% endif %}
</div>
