<!doctype html>
<html>
<head>
    <title>{% block title %}{{ unchained.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    {% block meta %}{% endblock %}

    {# CSS #}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
{% block body %}
    <div id="wrapper">
        {% block navigation %}
            {% if unchained.navigation.style == 'side' %}
                {% include '/navigation/navigation_side.html.twig' %}
            {% else %}
                {% include '/navigation/navigation_default.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block content_container %}
            <div class="main container {{ application is defined ? application.appId : 'dashboard' }}">
                {% block content_header %}{% endblock %}
                {% block content %}{% endblock %}
                {% block content_footer %}{% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{# SCRIPTS #}
<script src="{{ asset('build/app.js') }}"></script>
<script src="{{ asset('build/runtime.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>