<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">{{ render(controller("App\\Controller\\SystemController::getSystemTitle")) }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% block application_menu %}
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link {{ application is not defined ? 'active' : '' }}" href="/">Home</a>
            </li>

            {% if applications|length > 1 %}
                {% for catId,cat in applications %}
                    {% if catId != '_default' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdown-{{ catId }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ cat.label|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-{{ catId }}">
                                {% include "navigation_apps.html.twig" with {applications: cat.applications, class: "dropdown-item"} %}
                            </div>
                        </li>
                    {% else %}
                        {% include "navigation_apps.html.twig" with {applications: cat.applications, class: "nav-link"} %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% include "navigation_apps.html.twig" with {applications: (applications|first).applications, class: "nav-link"} %}
            {% endif %}
        {% endblock %}
        </ul>

        <div class="my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="dropdown-locales" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="flag-icon flag-icon-{{ app.request.locale|lower|replace({'en':'gb'}) }}"></i> {{ app.request.locale|upper }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-locales">
                        {% for i,f in {'nl': 'nl', 'en': 'gb', 'de': 'de', 'fr': 'fr'} %}
                            <a class="dropdown-item lang-choice" href="{{ path('locale_switch', {_locale: i}) }}">
                                <i class="flag-icon flag-icon-{{ f }}"></i> {{ i|upper }}
                            </a>
                        {% endfor %}
                    </div>
                </li>

                {% if app.request.pathInfo != '/login' %}
                    <li class="login">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="nav-link" href="{{ url('admin_login') }}"><i class="fa fa-door-open"></i></a>
                        {% else %}
                            <a class="nav-link" href="/logout"><i class="fa fa-door-closed"></i></a>
                        {% endif %}
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item refresh">
                        <a class="nav-link" href="{{ url('dash_refresh') }}" title="{{ 'reload config' | trans }}"><i class="fa fa-sync-alt"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>