{% set color = color ?? 'primary' %}
{% set class = "btn btn-"~color %}

{% set label = label ?? null %}
{% set title = title ?? null %}

{% set icon = icon ?? false %}
{% set icon_font = icon_font ?? 'fa' %}

{% set trans = trans ?? true %}
{% set trans_params = trans_params ?? [] %}
{% set trans_domain = trans_domain ?? null %}

{% apply spaceless %}
    <button type="submit" class="{{ class }}" {% if title %}title="{{ title }}"{% endif %}>
        {% if icon %}
            <i class="{{ icon_font ~ ' ' ~ icon_font ~ '-' ~ icon }}"></i>
        {% endif %}

        {% if label %}
            {% if trans %}
                {{ label|trans(trans_params, trans_domain) }}
            {% endif %}
        {% else %}
            {{ label }}
        {% endif %}
    </button>

{% endapply %}